<div class="app-container">
  <div class="fixed title center top-center">
    Gallery edit
  </div>

  <div *ngIf="galleryEditForm" class="white-window padded center text-justified">
    <form [formGroup]="galleryEditForm" (ngSubmit)="onSubmit(galleryEditForm.value)">
      <input type="hidden" id="galleryId" formControlName="newsId"/>
      <p><input type="input" id="name" formControlName="name" placeholder="Enter name..."/></p>
      <p><input type="input" id="description" formControlName="description" placeholder="Enter description..."/></p>
      <p>
        <label for="privateGallery">Private gallery: </label>
        <input type="checkbox" id="privateGallery" formControlName="privateGallery">
      </p>
      <p>
        <button type="submit">Save</button>
        <button appBackButton>Back</button>
      </p>
    </form>
  </div>
</div>
