<div class="margined">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">

    <div *ngIf="changePasswordForm.invalid">
      <div *ngFor="let error of changePasswordForm.errors">{{error}}</div>
    </div>

    <div *ngIf="passwordChangedSuccessfully">
      Password changed successfully!
    </div>

    <p><label for="password">Password: </label><input id="password" type="password" formControlName="password"></p>
    <p><label for="repeatPassword">Repeat password: </label><input id="repeatPassword" type="password"
                                                                  formControlName="repeatPassword"></p>

    <button type="submit" name="player" value="Name">Change password</button>
  </form>
</div>
