<div class="app-container">
  <div class="fixed title center top-center">
    Add item
  </div>

  <div *ngIf="itemAddForm" class="white-window padded center text-justified">
    <p>{{imageError}}</p>
    <form [formGroup]="itemAddForm" (ngSubmit)="onSubmit(itemAddForm.value)">
      <input type="hidden" id="galleryItemId" formControlName="galleryItemId"/>
      <input type="hidden" id="galleryId" formControlName="galleryId"/>
      <p><input type="input" id="name" formControlName="name" placeholder="Enter name..."/></p>
      <p><input type="input" id="description" formControlName="description" placeholder="Enter description..."/></p>
      <p>
        <input type="file" id="file" (change)="setFile($event)"/>
      </p>
      <p>
        <button type="submit">Save</button>
        <button appBackButton>Back</button>
      </p>
    </form>
  </div>
</div>
