<div class="app-container">

  <div class="fixed title center top-center">
    Login
  </div>

  <div class="white-window padded center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

      <div *ngIf="formMessage">{{formMessage}}</div>

      <p><label for="username">Username: </label><input id="username" type="text" formControlName="username"></p>
      <p><label for="password">Password: </label><input id="password" type="password" formControlName="password"></p>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
