<div class="app-container">
  <div class="fixed title center top-center">
    Public galleries
  </div>
  <app-scrollable #scrollableComponent [paginatedDataSource]="galleries">
    <div class="app-container">
      <ngx-masonry *ngIf="galleries" class="masonry-container" [useImagesLoaded]="false" [options]="masonryConfig">
        <div ngxMasonryItem class="masonry-item image-tile" *ngFor="let item of scrollableComponent.dataSource">
          <a [routerLink]="[item.id]" routerLinkActive="active">
            <app-secured-resource [imagePath]="item.thumbnail" [thumbnailOnly]="true"
                                  [description]="item.description"></app-secured-resource>
            <p>{{item.name}}</p>
          </a>
        </div>
      </ngx-masonry>
    </div>
  </app-scrollable>
</div>
