<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/news">News</button>
  <button mat-menu-item routerLink="/gallery">Galleries</button>
  <button mat-menu-item routerLink="/user/search">Search user</button>

  <div *ngIf="authorizationService.isLogged()">
    <button mat-menu-item routerLink="/user/management">User management</button>
    <button mat-menu-item routerLink="/logout">Logout</button>
  </div>

  <div *ngIf="!authorizationService.isLogged()">
    <button mat-menu-item routerLink="/login">Login</button>
  </div>
</mat-menu>

<button mat-fab class="back-button" [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>
