.back-button {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 40px;
  margin-top: 40px;
  z-index: 9999;
  width: 60px;
  height: 60px;
}

.back-button mat-icon {
  font-size: 18pt;
}
