<div *ngIf="newsItem" class="app-container">
  <div class="fixed title center top-center">
    {{newsItem.title}}
  </div>

  <div class="white-window padded center text-justified">
    <p style="float:right" *ngIf="authorizationService.isLoggedUser(newsItem.creator.username)">
      <button mat-mini-fab routerLink="/news/{{newsItem.id}}/edit" color="">
        <mat-icon>edit</mat-icon>
      </button>
    </p>

    <div [innerHTML]="newsItem.content"></div>

    <p>
      <span style="float:left">Created at:<br/>{{newsItem.createdAt}}</span>
      <span style="float:right;text-align:right">Created by:
        <br/>
      <a routerLink="/user/{{newsItem.creator.username}}">{{newsItem.creator.username}}</a>
      </span>
    </p>
  </div>
</div>
