<div class="app-container">
  <div class="fixed title center top-center" *ngIf="gallery">
    {{gallery.name}}
  </div>
  <app-scrollable *ngIf="galleryImages" #scrollableComponent [paginatedDataSource]="galleryImages">
    <ngx-masonry class="masonry-container" [useImagesLoaded]="true" [options]="masonryConfig">
      <div ngxMasonryItem class="masonry-item image-tile" *ngFor="let item of scrollableComponent.dataSource">
        <app-secured-resource [imagePath]="item.path" [description]="item.description"></app-secured-resource>
        <p>{{item.name}}</p>
      </div>
    </ngx-masonry>
  </app-scrollable>

</div>
