<div class="app-container">

  <div class="fixed title center top-center">
    User management
  </div>

  <div class="white-window center">
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="User info">
        <div class="margined">
          <p>
            <span>Username: </span>
            <span>{{tokenInfo.aud}}</span>
          </p>
          <p>
            <span>Roles: </span>
            <span>{{tokenInfo.authorities}}</span>
          </p>
          <p>
            <span>Session expiring in: </span>
            <span><countdown [config]="countdownConfig"></countdown></span>
          </p>
          <p>
            <span><a routerLink="/logout">Logout</a></span>
          </p>
        </div>
      </mat-tab>
      <mat-tab label="User resources">
      <app-user-resources></app-user-resources>
      </mat-tab>
      <mat-tab label="Password change">
        <app-password-change></app-password-change>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
