<a *ngIf="!thumbnailOnly && imageLink" [href]="imageLink" data-fancybox="gallery"
   attr.data-caption="{{description}}">
  <img *ngIf="thumbnailImageLink" class="image-thumbnail" [src]="thumbnailImageLink"/>
</a>
<img *ngIf="thumbnailOnly && thumbnailImageLink" class="image-thumbnail" [src]="thumbnailImageLink"/>
<img *ngIf="thumbnailOnly && !thumbnailImageLink" class="image-thumbnail" [src]="'/assets/no_image.png'"/>
