<mat-tab-group vertical mat-align-tabs="center">
  <mat-tab label="Galleries">
    <button routerLink="/gallery/add">Add new...</button>
    <table mat-table [dataSource]="galleriesData">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let gallery">
          <a routerLink="/gallery/{{gallery.id}}">{{gallery.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="privateGallery">
        <th mat-header-cell *matHeaderCellDef>Private</th>
        <td mat-cell *matCellDef="let gallery">
          <mat-checkbox [checked]="gallery.privateGallery ? 'checked' : null" disabled></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let gallery">{{gallery.createdAt}}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let gallery">
          <button mat-mini-fab routerLink="/gallery/{{gallery.id}}/details" color="">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab routerLink="/gallery/{{gallery.id}}/delete" color="">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="galleriesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: galleriesDisplayedColumns;"></tr>
      ...
    </table>
    <mat-paginator *ngIf="galleriesData.page$ | async as page"
                   [length]="page.total" [pageSize]="page.pageable.size"
                   [pageIndex]="page.pageable.page" [hidePageSize]="true"
                   (page)="galleriesData.fetch($event.pageIndex)">
    </mat-paginator>
  </mat-tab>
  <mat-tab label="News">
    <button routerLink="/news/add">Add new...</button>
    <table mat-table [dataSource]="newsData">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let news">
          <a routerLink="/news/{{news.id}}">{{news.title}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let news">{{news.createdAt}}</td>
      </ng-container>

      <ng-container matColumnDef="visible">
        <th mat-header-cell *matHeaderCellDef>Is visible</th>
        <td mat-cell *matCellDef="let news">
          <mat-checkbox [checked]="news.visible ? 'checked' : null" disabled></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let news">
          <button mat-mini-fab routerLink="/news/{{news.id}}/edit" color="">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab routerLink="/news/{{news.id}}/delete" color="">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="newsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: newsDisplayedColumns;"></tr>
      ...
    </table>
    <mat-paginator *ngIf="newsData.page$ | async as page"
                   [length]="page.total" [pageSize]="page.pageable.size"
                   [pageIndex]="page.pageable.page" [hidePageSize]="true"
                   (page)="newsData.fetch($event.pageIndex)">
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
