<div class="app-container">
  <div class="fixed title center top-center">
    Search user
  </div>

  <div class="white-window padded center">
    <p><label for="user">Username: </label><input type="text" #user id="user"/></p>
    <p>
      <button (click)="searchUser(user.value)">Search</button>
    </p>

  </div>
</div>
