<div class="app-container">
  <div class="fixed title center top-center">
    News
  </div>
  <app-scrollable #scrollableComponent [paginatedDataSource]="data">
    <ngx-masonry *ngIf="scrollableComponent.dataSource" class="masonry-container top-margin" [useImagesLoaded]="true"
                 [options]="masonryConfig">
      <div routerLink="/news/{{item.id}}" ngxMasonryItem class="masonry-item news-tile"
           *ngFor="let item of scrollableComponent.dataSource">
        <p class="news-header" style="text-align: center;" [innerHTML]="item.title"></p>
        <p class="news-content padded text-justified" [innerHTML]="item.content"></p>
        <p class="news-footer">
          <span class="news-created-at">{{item.createdAt | date:'dd-MM-yyyy'}}</span>
          <span class="news-creator">{{item.creator.username}}</span>
        </p>
      </div>
    </ngx-masonry>
  </app-scrollable>
</div>
