table {
  width: 100%;
  border: 0;
  background: none;
}

.mat-paginator{
  background: none;
}

app-secured-resource {
  height:60px;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}
