<div *ngIf="gallery" class="app-container">
  <div class="fixed title center top-center">
    {{gallery.name}} gallery
  </div>

  <div class="white-window padded center text-justified">
    <div>
      <div style="float:left">
        <p>{{gallery.description}}</p>
        <p>
          <span>Created at: </span>
          <span>{{gallery.createdAt}}</span>
        </p>
      </div>
      <button style="float:right" mat-mini-fab routerLink="/gallery/{{gallery.id}}/edit" color="">
        <mat-icon>edit</mat-icon>
      </button>
      <button style="float:right" mat-mini-fab routerLink="/gallery/{{gallery.id}}" color="">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <table *ngIf="galleryItemsData" mat-table [dataSource]="galleryItemsData">
      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
        <td mat-cell *matCellDef="let gallery">
          <app-secured-resource [imagePath]="gallery.path" [description]="gallery.description"></app-secured-resource>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let galleryItem">
          {{galleryItem.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let galleryItem">
          {{galleryItem.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let galleryItem">
          <button mat-mini-fab routerLink="/gallery/{{galleryItem.id}}/edit" color="">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab routerLink="/gallery/{{galleryItem.id}}/delete" color="">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="galleriesItemsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: galleriesItemsDisplayedColumns;"></tr>
      ...
    </table>
    <mat-paginator *ngIf="galleryItemsData.page$ | async as page"
                   [length]="page.total" [pageSize]="page.pageable.size"
                   [pageIndex]="page.pageable.page" [hidePageSize]="true"
                   (page)="galleryItemsData.fetch($event.pageIndex)">
    </mat-paginator>
    <button routerLink="/gallery/{{gallery.id}}/image-add">Add new...</button>
  </div>
</div>
