<div class="app-container">
  <div *ngIf="user" class="fixed title center top-center">
    {{user.username}}'s profile
  </div>

  <div class="white-window center">
    <div *ngIf="noUserFoundUsername" class="margined"><p>Cannot find user '{{noUserFoundUsername}}'!</p>
      <p>
        <button appBackButton>Back!</button>
      </p>
    </div>
    <mat-tab-group *ngIf="user && !noUserFoundUsername" mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="User info">
        <div class="margined">
          {{user | json}}
        </div>
      </mat-tab>
      <mat-tab label="User resources">
        <mat-tab-group vertical mat-align-tabs="center">
          <mat-tab label="Galleries">
            <table mat-table [dataSource]="galleriesData">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let gallery">
                  <a href="/gallery/{{gallery.id}}">{{gallery.name}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created at</th>
                <td mat-cell *matCellDef="let gallery">{{gallery.createdAt}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="galleriesDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: galleriesDisplayedColumns;"></tr>
            </table>
            <mat-paginator *ngIf="galleriesData.page$ | async as page"
                           [length]="page.total" [pageSize]="page.pageable.size"
                           [pageIndex]="page.pageable.page" [hidePageSize]="true"
                           (page)="galleriesData.fetch($event.pageIndex)">
            </mat-paginator>
          </mat-tab>
          <mat-tab label="News">
            <table mat-table [dataSource]="newsData">

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let news">
                  <a href="/news/{{news.id}}">{{news.title}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef>Content</th>
                <td mat-cell *matCellDef="let news" [innerHTML]="news.content | slice:0:50"></td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Created at</th>
                <td mat-cell *matCellDef="let news">{{news.createdAt}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="newsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: newsDisplayedColumns;"></tr>
              ...
            </table>
            <mat-paginator *ngIf="newsData.page$ | async as page"
                           [length]="page.total" [pageSize]="page.pageable.size"
                           [pageIndex]="page.pageable.page" [hidePageSize]="true"
                           (page)="newsData.fetch($event.pageIndex)">
            </mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
