<div class="app-container">
  <div class="fixed title center top-center">
    News delete
  </div>

  <div *ngIf="newsItem" class="white-window padded center text-justified">
  <p>
    Do you really want to delete '{{newsItem.title}}' news?
  </p>
<p>
  <span>
    <button appBackButton>No</button>
    <button (click)="performDelete()">Yes</button>
  </span>
</p>

  </div>
</div>
