<div class="app-container">
  <div class="fixed title center top-center">
    News edit
  </div>

  <div *ngIf="newsEditForm" class="white-window padded center text-justified">
    <form [formGroup]="newsEditForm" (ngSubmit)="onSubmit(newsEditForm.value)">
      <input type="hidden" id="newsId" formControlName="newsId"/>
      <p><input type="input" id="title" formControlName="title"  placeholder="Enter title..."/></p>
      <p>
        <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
      </p>
      <p>
        <label for="visible">Visible: </label>
        <input type="checkbox" id="visible" formControlName="isVisible">
      </p>
      <p>
        <button type="submit">Save</button>
        <button appBackButton>Back</button>
      </p>
    </form>
  </div>
</div>
