<div class="app-container">

  <div class="fixed title center top-center">
    Login
  </div>

  <div class="white-window padded center">
    <h4>Logged out successfully!</h4>
    <button routerLink="/login">Login again!</button>
  </div>
</div>
