// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zpsb-angular-gallery-primary: mat-palette($mat-indigo);
$zpsb-angular-gallery-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zpsb-angular-gallery-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$zpsb-angular-gallery-theme: mat-light-theme($zpsb-angular-gallery-primary, $zpsb-angular-gallery-accent, $zpsb-angular-gallery-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($zpsb-angular-gallery-theme);

/* You can add global styles to this file, and also import other style files */
body, head, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

%background-image {
  background-image: url("/assets/background.jpg");
  background-color: #000; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
}

%tile-shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

%title-font {
  color: #ccc;
  background-color: rgba(0, 0, 0, .3);
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Great Vibes', cursive;
}


body {
  @extend %background-image;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  @extend %background-image;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.masonry-container {
  margin: 60px auto 150px;
  padding: 7vh 10px 5vh;
}


.image-tile, .news-tile {
  @extend %tile-shadow;
  margin-bottom: 10px;
}

.news-tile {
  background-color: #cccccc;
  width: 25vw;
}

.image-tile img {
  display: block;
  width: 25vw;
  height: auto;
}

.image-tile p {
  position: absolute;
  bottom: 0;
  margin: 1vw;
  color: #ccc;
  font-size: 1.5vw;
  text-shadow: 2px 2px 2px #000000;
}

.image-tile:hover, .news-tile:hover {
  webkit-filter: blur(1px); /* Chrome, Safari, Opera */
  filter: blur(1px) grayscale(100%);
  cursor: pointer;
}

div.title {
  @extend %title-font;
  font-size: 3vw;
  padding: 2vw 3vw 2vw;
  z-index: 9999;
  line-height: 60px;
}

div.fixed {
  position: fixed;
}

.top-margin {
  margin-top: 60px;
}

.center {
  top: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.text-justified {
  text-align: justify !important;
}

div.title.left-corner {
  bottom: 0;
  border-top-right-radius: 100px;
}

div.title.top-center {
  padding-top: 2vw;
  padding-bottom: 1vw;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

p.news-header {
  @extend %title-font;
  padding: 20px;
  font-size: 2vw;
}

p.news-footer {
  @extend %title-font;
  padding: 20px;
  font-size: 1vw;
  margin: 0;
}

.news-creator {
  float: right;
}

.white-window {
  overflow: hidden;
  margin-top: 33.3vh;
  position: absolute;
  background-color: #eee;
  width: 33.3vw;
  border-radius: 10px;
}

.margined {
  margin: 10px;
}

.padded {
  padding: 10px;
}

mat-tab-group[vertical] {
  flex-direction: row !important;
}

mat-tab-group[vertical] .mat-tab-labels {
  flex-direction: column !important;
}

mat-tab-group[vertical] .mat-tab-label-active {
  border-right: 2px solid #3f51b5 !important;
}

mat-tab-group[vertical] .mat-ink-bar {
  display: none;
}


mat-tab-group[vertical] .mat-tab-header {
  border: none;
}

mat-tab-group[vertical] .mat-tab-body-wrapper {
  width: 100%;
}

.mat-header-cell {
  text-align: center !important;
}
